
			<div class="main-footer text-center">
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span>Copyright © 2024 <a href="javascript:void(0);">GALA DES PME</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="https://agencemosesart.com/" target="_blank">Moses Art</a> All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
		