<h1>Mr {{ user.lastName }} {{ user.firstName }}!</h1>
<p>Les informations liées à votre compte ont été modifiés Voici les détails :</p>
<p> Email : <strong>{{ user.email }}</strong> <br>*
</p>
<p><strong>NB: N'hesitez pas à contacter les administrateurs pour d'éventuelles réclamations</strong></p>
<p class="text-center">© {{ 'now'|date('Y') }} GALA des PME Admin. Développé par Agence Moses Art</p>
